<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>Area Personale</title>
</head>
<body>

	<div>
	 <h1>Area Personale</h1>
	 
	 
	 
	 <table>
	 <thead>
	 	<tr>
	 	<th>Nome</th>
	 	<th>Cognome</th>
	 	<th>Username</th>
	 	<th>Data di nascita</th>
	 	<th>Codice Fiscale</th>
	 	<th>Indirizzo</th>
	 	<th>Email</th>
	 	<th>Telefono</th>
	 	<th> Operazioni </th>
	 	</tr>
	 	
	 </thead>
	 <tbody>
	 	<tr> 
	 	<td th:text="${utente.nome}"/>
	 	<td th:text="${utente.cognome}"/>
	 	<td th:text="${utente.username}"/>
	 	<td th:text="${utente.dataNascita}"/>
	 	<td th:text="${utente.codiceFiscale}"/>
	 	<td th:text="${utente.indirizzo}"/>
	 	<td th:text="${utente.email}"/>
	 	<td th:text="${utente.telefono}"/>
	 	<td>
	 		<a th:href="@{/areaPersonaleModifica(utenteId=${utente.id})}">Modifica </a>
	 	</td>
	 	</tr>
	 </tbody>
	 </table>
	</div>
</body>
</html>
	 
	 
	 
	 
	 
	 
	 
	 