<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>Area Personale</title>
</head>
<body>
    
    
    
    <h1>Area Personale</h1>
        <div>
            <form th:action="@{/areaPersonale}" method="post">
                <label for="nome"></label><br>
                <input type="text" id="nome" name="nome" th:value="${utente.nome}"><br>
                <label for="cognome"></label><br>
                <input type="text" id="cognome" name="cognome" th:value="${utente.cognome}"><br>
                <label for="username"></label><br>
                <input type="text" id="username" name="username" th:value="${utente.username}"><br>
                <label for="data"></label><br>
                <input type="date" id="data" name="data" ><br>
                <label for="cf"></label><br>
                <input type="text" id="cf" name="cf" th:value="${utente.codiceFiscale}"><br>
                <label for="indirizzo"></label><br>
                <input type="text" id="indirizzo" name="indirizzo" th:value="${utente.indirizzo}"><br>
                <label for="email"></label><br>
                <input type="email" id="email" name="email" th:value="${utente.email}"><br>
                <label for="telefono"></label><br>
                <input type="tel" id="telefono" name="telefono" th:value="${utente.telefono}"><br>
                <label for="password"></label><br>
                <input type="password" id="password" name="password" th:value="${utente.password}"><br>
                <br><br><br>
                <button type="submit">Modifica</button>
            </form >
        </div>
    
        
</body>
</html>