<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>Area Personale</title>
</head>
<body>
    
    <h1>Area Personale</h1>
        <div>
            <form>
                <label for="nome"></label><br>
                <input type="text" placeholder="Nome" id="nome" name="nome"><br>
                <label for="cognome"></label><br>
                <input type="text" placeholder="Cognome" id="cognome" name="cognome"><br>
                <label for="username"></label><br>
                <input type="text" placeholder="Username" id="username" name="username"><br>
                <label for="data"></label><br>
                <input type="date" id="data" name="data"><br>
                <label for="cf"></label><br>
                <input type="text" placeholder="Codice fiscale" id="cf" name="cf"><br>
                <label for="indirizzo"></label><br>
                <input type="text" placeholder="Indirizzo" id="indirizzo" name="indirizzo"><br>
                <label for="email"></label><br>
                <input type="email" placeholder="Email" id="email" name="email"><br>
                <label for="telefono"></label><br>
                <input type="tel" placeholder="Telefono" id="telefono" name="telefono"><br>
                <label for="password"></label><br>
                <input type="password" placeholder="Password" id="password" name="password"><br>
                <br><br><br>
                <button type="submit">Modifica</button>
            </form>
        </div>
    
        
</body>
</html>