<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>CarBay</title>
</head>
<body>

    <div align="right">

		<button onclick="window.location.href='http://localhost:8080/areaPersonale';">Area Personale</button >
        <button onclick="window.location.href='http://localhost:8080/logout';">Logout</button >
        <hr>
    </div>
    
    <br><br><br><br>

    <div align="center">
        <h1>CarBay</h1>
    </div>
    
    <br><br><br><br><br>

    <div align="center">

        <button onclick="window.location.href='http://localhost:8080/vendi';">Vendi</button >
        &nbsp;
        <button onclick="window.location.href='http://localhost:8080/compra';">Compra</button >

    </div>

</body>
</html>