<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    
    <title>Login</title>
</head>
<body>

    <span sec:authentication="name">Username</span>


    <div>
        <h1>Login</h1>
        <form>
        <label for="username"></label><br>
        <input type="text" placeholder="Username" id="username" name="username"><br>
        <label for="password"></label><br>
        <input type="password" placeholder="Password" id="password" name="password"><br><br><br>

        <button type="submit">Accedi!</button>
        </form>

    </div>
    
</body>
</html>